/* LESS mixins */
.transition (@transition) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
  transform:         rotate(@deg);
}
.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
  -o-transform:      translate(@x, @y);
}

.animation (@name, @duration: 1s, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

@-webkit-keyframes animate {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes animate {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes animate {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animate {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* GLOBAL styles */
body {
 background: #FFB347;
 position: absolute;
 width: 600px;
 height: 600px;
 display: inline-block;
 left: 50%;
 top: 50%; 
 margin-left: -300px;
 margin-top: -300px;
 overflow: hidden;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -100px;
  margin-top: -115px;

  &:hover .child > :nth-child(1) {
    .transition(all 0.7s ease-out);
    .translate(220px, 0px);
  }
  &:hover .child > :nth-child(2) {
    .transition(all 0.7s ease-out);
    .translate(-220px, -234px);
  }

  &:hover .child > :nth-child(3) {
    .transition(all 0.7s ease-out);
    .translate(-110px, -284px);
  }
  &:hover .child > :nth-child(4) {
    .transition(all 0.7s ease-out);
    .translate(110px, -518px);
  }

  &:hover .child > :nth-child(5) {
    .transition(all 0.7s ease-out);
    .translate(-110px, -1120px);
  }
  &:hover .child > :nth-child(6) {
    .transition(all 0.7s ease-out);
    .translate(110px, -1355px);
  }
}
.child {

  & > :nth-child(1) {
    .translate(0px, 0px);
  }
  & :nth-child(2) {
    .translate(0px, -234px);
  }
  & :nth-child(3) {
    .translate(0px, -468px);
  }
  & :nth-child(4) {
    .translate(0px, -702px);
  }
  & :nth-child(5) {
    .translate(0px, -936px);
  }
  & :nth-child(6) {
    .translate(0px, -1170px);
  }
}
/* HEXAGON style */
.lab_item {
  width: 200px;
  height: 230px;
  display: inline-block;

}

.hexagon2 {
  position: absolute;
  width: 200px;
  height: 400px;
  top: -85px;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  .rotate(120deg);
  cursor: pointer;
  
}


.hexagon-in1, .hexagon-in2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  .rotate(-60deg);
  visibility: visible;
}

.hexagon-in2 {
  background: #000;
}




